.input-icons i {
    position: absolute;
  }

.input-icons {
    margin-bottom: 10px;
  }

.icon {
    margin-right: 10px;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 20px;
  }
  .input-field {
    vertical-align: center;
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding-left: 35px;
    text-align: left;
  }
  table {
    font-family: "Acme", sans-serif;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
  }
  .sort-icon {
    margin-left: 3px;
  }
  table th,
  table td {
    padding: 12px 15px;
  }
        